- var theme_customizer      = true;
- var sidebar               = true;
- var scrollbar             = true;
doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/taptop
    include ../../components/loader
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid
            .page-title
              .row
                .col-sm-6
                  h3
                    | Creative Card
                .col-sm-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        i(data-feather="home")
                    li.breadcrumb-item  Bonus Ui
                    li.breadcrumb-item.active Creative Card
          // Container-fluid starts
          .container-fluid.basic-card
            .row
              .col-sm-12.col-xl-6
                .card
                  .card-header.b-l-primary.border-bottom-light
                    h4 Border left
                  .card-body
                    p.mb-0
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
              .col-sm-12.col-xl-6
                .card
                  .card-header.b-r-secondary.border-bottom-light
                    h4 Border right
                  .card-body
                    p.mb-0
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
              .col-sm-12.col-xl-6
                .card
                  .card-header.b-t-success.border-bottom-light
                    h4 Border top
                  .card-body
                    p.mb-0
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
              .col-sm-12.col-xl-6
                .card
                  .card-header.b-b-info
                    h4 Border bottom
                  .card-body
                    p.mb-0
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
              .col-sm-12.col-xl-6
                .card
                  .card-header.b-l-warning.border-bottom-light
                    h4 Border color state
                  .card-body
                    p.mb-0
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
              .col-sm-12.col-xl-6
                .card
                  .card-header.b-l-danger.border-bottom-light
                    h4 Border color state
                  .card-body
                    p.mb-0
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
              .col-sm-12.col-xl-6
                .card
                  .card-header.b-l-primary.border-bottom-light
                    h4 Border color state
                  .card-body
                    p.mb-0
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
              .col-sm-12.col-xl-6
                .card
                  .card-header.b-l-secondary.border-bottom-light
                    h4 Border color state
                  .card-body
                    p.mb-0
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
              .col-sm-12.col-xl-6
                .card
                  .card-header.b-l-info.border-2.border-bottom-light
                    h4 Border color state
                  .card-body
                    p.mb-0
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
              .col-sm-12.col-xl-6
                .card
                  .card-header.b-l-success.border-3.border-bottom-light
                    h4 Border color state
                  .card-body
                    p.mb-0
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
              .col-sm-12.col-xl-6
                .card.card-absolute
                  .card-header.bg-primary.border-bottom-light
                    h4.text-white.f-w-600 Absolute Style
                  .card-body
                    p.mb-0
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
              .col-sm-12.col-xl-6
                .card.card-absolute
                  .card-header.bg-secondary.border-bottom-light
                    h4.text-white.f-w-600 Color state
                  .card-body
                    p.mb-0
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
          // Container-fluid Ends
        include ../../components/footer
    include ../../components/footer-files